<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <h1>Add your post</h1>
    <div class="homepagelinkDiv">
      <a class="homepagelink" href="/">Go back</a>
    </div>
    <form action="/admin" method="post">
      <div>
        <label for="title">Title</label><br />
        <input type="text" id="title" name="title" required />
      </div>
      <div>
        <label for="image">Image URL</label><br />
        <input type="text" id="image" name="image" required />
      </div>
      <div>
        <label for="description">Description</label>
        <br />
        <textarea
          name="description"
          id="description"
          cols="30"
          rows="10"
          required
        ></textarea>
      </div>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
