<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <h2 class="title">This is home page</h2>
    <p class="paragraph">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni illum
      error libero delectus, minus quasi voluptas? Quam non molestiae distinctio
      aperiam corrupti quis cum ab quibusdam dolor sit, ipsa obcaecati.
    </p>
    <div>
      <a href="/admin/addPost">Create new Post</a>
    </div>
  </body>
</html>
